# Ignore virtual environment
env/
football_env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore compiled files
*.pyc
__pycache__/

# Ignore Jupyter notebook checkpoints
notebooks/.ipynb_checkpoints

# Ignore large data files
data/raw/
data/processed/
