# Ignore virtual environment
env/
football_env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore compiled files
*.pyc
__pycache__/

# Ignore Jupyter notebook checkpoints
notebooks/.ipynb_checkpoints

# Ignore configuration files
config/config.yaml

# Ignore raw and preprocessed data
data/raw/
data/processed/
